nav ul li,
a {
  font-family: Saira Condensed;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
  color: #a50daa;
}

.nav-bar li:hover {
  -webkit-text-stroke: 1px #8e6db3;
  transition-timing-function: ease-in-out;
  max-width: max-content;
}

body {
  background-color: #fff0f5;
}

h1 {
  font-family: Satisfy;
  font-size: 54px;
  text-align: center;
}

h2 {
  font-family: Saira Condensed;
  font-size: 24px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: Chivo;
  font-size: 20px;
  max-height: 500px;
  max-width: 1000px;
  line-height: 30px;
  margin: 0px auto;
}

#eu {
  border-radius: 100%;
  max-height: 400px;
  max-width: 400px;
  display: block;
  margin: 40px auto;
}

.underline {
  text-decoration: underline;
}
