.ant-row {
    gap: 40px;
}

.ant-col {
    margin-top: 40px;
}

div .ant-card {
    width: 300;
    background-color: #010101;
}

.ant-typography {
    display: flex;
    flex-direction: column;
    text-align: left;
}

